body {
    background-color: #e0c4c4;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
    
    
  }
  ul.header {
    background-color: rgb(233, 113 , 113);
    padding: 0;
  }
  ul.header li a {
    color: rgb(15, 15, 15);
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: rgb(233, 113, 113);
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #f6f7f8;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consola